{% load static %}

    <link rel="stylesheet" href="{% static 'main_page/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/nouislider.min.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/ion.rangeSlider.css' %}" />
	<link rel="stylesheet" href="{% static 'main_page/css/ion.rangeSlider.skinFlat.css' %}" />
	<link rel="stylesheet" href="{% static 'main_page/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">